
table {
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
}

th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #ccc;
}

td:first-child {
  width: 20%;
}

td:last-child {
  width: 80%;
}

